{% extends 'base.html' %}
{% block title %}記事詳細{% endblock %}

{% block content %}
<div class="layout" id="backgound">
    <main>
        <div class="col-lg-8 mx-auto">
            <img src="{{ url_for('static', filename='img/' + post.img_name) }}" class="img-fluid mb-4" alt="Article Image">
        </div>
    </main>
    <aside>
        <article>
            <h1 class="mb-4">{{ post.title }}</h1>
            <p class="text-muted">{{ post.created_at }}</p>
            <p>{{ post.body }}</p>
        </article>
    </aside>
</div>
{% endblock %}